In [73]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to change the path if needed.)
vine_table_to_load = "vine_table.csv"

# Read the Vine Table Data store into a Pandas DataFrame
vine_data_df = pd.read_csv(vine_table_to_load)

vine_data_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R26MV8D0KG6QI6,5.0,0.0,0.0,N,Y
1,R1OF8GP57AQ1A0,5.0,0.0,0.0,N,Y
2,R3VDC1QB6MC4ZZ,5.0,0.0,0.0,N,N
3,R12FA3DCF8F9ER,5.0,0.0,0.0,N,Y
4,RTWHVNV6X4CNJ,5.0,0.0,0.0,N,Y
5,RIG9AWFOGRDVO,2.0,1.0,1.0,N,Y
6,R1S1XSG4ZCHDGS,5.0,1.0,1.0,N,Y
7,RB15NBVY5ELVW,5.0,2.0,2.0,N,Y
8,R56358YM1ZJ7I,5.0,0.0,0.0,N,N
9,R1ODXB3C9UP3NL,1.0,1.0,3.0,N,N

In [74]:
# Filter reviews with at least 20 total votes
df_total_votes = vine_data_df.loc[vine_data_df["total_votes"] >= 20]
df_total_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
145,R1OAZUG90XPU2U,5.0,250.0,274.0,N,Y
157,R23VPTUJ8I8NR5,1.0,28.0,30.0,N,Y
1103,R33VIWRD2X5IA9,1.0,0.0,20.0,N,Y
1115,R6SRJFJ5YH4UM,5.0,23.0,26.0,N,Y
1309,R3DOS07BIMP4DJ,2.0,32.0,42.0,N,N

In [75]:
# Calculating number of helpful votes/total votes being greater than 50%
df_helpful_votes = df_total_votes.loc[df_total_votes["helpful_votes"] / df_total_votes["total_votes"] * 100 > 0.5]
df_helpful_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
145,R1OAZUG90XPU2U,5.0,250.0,274.0,N,Y
157,R23VPTUJ8I8NR5,1.0,28.0,30.0,N,Y
1115,R6SRJFJ5YH4UM,5.0,23.0,26.0,N,Y
1309,R3DOS07BIMP4DJ,2.0,32.0,42.0,N,N
2371,R30PGWX4HN1CFG,1.0,85.0,95.0,N,Y

In [76]:
# All reviews written as part of the Vine program (paid)
df_paid = df_helpful_votes.loc[df_helpful_votes["vine"] == "Y"]
df_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
78803,R3MKO875WGIEBJ,5.0,34.0,37.0,Y,N
90155,R3OPNTK61FQ7MP,5.0,32.0,37.0,Y,N
302146,RMDRU8I773X5U,4.0,22.0,25.0,Y,N
417135,RR83RGWFEFZCL,3.0,61.0,64.0,Y,N
477241,R2TMZ7GV8SPIRV,4.0,23.0,23.0,Y,N

In [77]:
# All reviews written as part of the Vine program (unpaid)
df_unpaid = df_helpful_votes.loc[df_helpful_votes["vine"] == "N"]
df_unpaid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
145,R1OAZUG90XPU2U,5.0,250.0,274.0,N,Y
157,R23VPTUJ8I8NR5,1.0,28.0,30.0,N,Y
1115,R6SRJFJ5YH4UM,5.0,23.0,26.0,N,Y
1309,R3DOS07BIMP4DJ,2.0,32.0,42.0,N,N
2371,R30PGWX4HN1CFG,1.0,85.0,95.0,N,Y

In [78]:
# Calculations for PAID dataframe
# Total number of reviews
paid_total_reviews = df_paid["review_id"].count()


# Number of 5-star reviews
paid_reviews_5stars = df_paid.loc[df_paid["star_rating"] >= 5.0].count()


# Percentage of 5-star reviews
paid_percentage_reviews_5stars = paid_reviews_5stars / float(paid_total_reviews) * 100

In [79]:
# Print total reviews, 5-star reviews, percentage of 5-star reviews for PAID dataframe
print(paid_total_reviews)
print(paid_reviews_5stars[0])
print("{:.1f}".format(paid_percentage_reviews_5stars[0]))

62
20
32.3

In [80]:
# Calculations for UNPAID dataframe
# Total number of reviews
unpaid_total_reviews = df_unpaid["review_id"].count()


# Number of 5-star reviews
unpaid_reviews_5stars = df_unpaid.loc[df_unpaid["star_rating"] >= 5.0].count()


# Percentage of 5-star reviews
unpaid_percentage_reviews_5stars = unpaid_reviews_5stars / float(unpaid_total_reviews) * 100

In [81]:
# Print total reviews, 5-star reviews, percentage of 5-star reviews for UNPAID dataframe
print(unpaid_total_reviews)
print(unpaid_reviews_5stars[0])
print("{:.1f}".format(unpaid_percentage_reviews_5stars[0]))

31237
15937
51.0

In [89]:
# Paid Results DataFrame
paid_results_df = pd.DataFrame(
          [{"Total Reviews": paid_total_reviews, 
          "5-Star Reviews": paid_reviews_5stars[0], 
          "% of 5-Star Reviews": paid_percentage_reviews_5stars[0]
           }], index=["Results"])

# Format the columns
paid_results_df["% of 5-Star Reviews"] = paid_results_df["% of 5-Star Reviews"].map("{:.1f}".format)

paid_results_df

         Total Reviews  5-Star Reviews % of 5-Star Reviews
Results             62              20                32.3

In [90]:
# Unpaid Results DataFrame
unpaid_results_df = pd.DataFrame(
          [{"Total Reviews": unpaid_total_reviews, 
          "5-Star Reviews": unpaid_reviews_5stars[0], 
          "% of 5-Star Reviews": unpaid_percentage_reviews_5stars[0]
           }], index=["Results"])

# Format the columns
unpaid_results_df["% of 5-Star Reviews"] = unpaid_results_df["% of 5-Star Reviews"].map("{:.1f}".format)

unpaid_results_df

         Total Reviews  5-Star Reviews % of 5-Star Reviews
Results          31237           15937                51.0